// Define shapes for the notes
$triangle: url(#triangle-clip-path);
$triangle_u: url(#triangle-upside-down-clip-path);
$moon: url(#moon-clip-path);
$moon_i: url(#moon-inverted-clip-path);
$heart: url(#heart-clip-path);
$heart_u: url(#heart-upside-down-clip-path);
$hexagon: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
$circle: circle(50%);
$octagon: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
$rounded_square: url(#square-clip-path);
$rounded_diamond: url(#diamond-clip-path);
$teardrop: url(#teardrop-clip-path);
$trapezoid:  polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
$trapezoid_u:  polygon(0% 0%, 100% 0%, 80% 100%, 20% 100%);
$star: url(#star-clip-path);
$clover: url(#clover-clip-path);
$clover_r: url(#clover-rotated-clip-path);

div.chord-notes-container > div.note-wrapper > div.note {
    clip-path: $circle;
    @media only screen and (max-width: 768px) {
        clip-path: circle(45%);
    }
}

div.flag-container.use-shapes div.chord-notes-container {
    div.note-wrapper.note-A3 {
        div.note {
            clip-path: $triangle_u;
        }

        div.note-text > span.note-text-span {
            transform: translateY(-10%);
        }
    }

    div.note-wrapper.note-A4 {
        div.note {
            clip-path: $triangle;
        }

        div.note-text > span.note-text-span {
            transform: translateY(10%);
        }
    }

    div.note-wrapper.note-B3 {
        div.note {
            clip-path: $rounded_diamond;
        }

        div.note-text > span.note-text-span {
            transform: translateX(7%) translateY(2%);
        }
    }

    div.note-wrapper.note-B4 > div.note {
        clip-path: $rounded_square;
    }

    div.note-wrapper.note-Bb3 {
        div.note {
            clip-path: $trapezoid;
        }

        div.note-text > span.note-text-span {
            transform: translateY(5%);
        }
    }

    div.note-wrapper.note-Bb4 {
        div.note {
            clip-path: $trapezoid_u;
        }

        div.note-text > span.note-text-span {
            transform: translateY(-7%);
        }
    }

    div.note-wrapper.note-C4 {
        div.note {
            clip-path: $moon;
        }

        div.note-text > span.note-text-span {
            transform: translateX(-20%) translateY(12%);
        }
    }

    div.note-wrapper.note-C5 {
        div.note {
            clip-path: $moon_i;
        }

        div.note-text > span.note-text-span {
            transform: translateX(20%) translateY(12%);
        }
    }

    div.note-wrapper.note-D4 > div.note {
        clip-path: $clover;
    }

    div.note-wrapper.note-D5 {
        div.note {
            clip-path: $clover_r;
        }

        div.note-text > span.note-text-span {
            transform: translateX(5%);
        }
    }

    div.note-wrapper.note-E4 {
        div.note  {
            clip-path: $heart;
        }

        div.note-text > span.note-text-span {
            transform: translateX(-5%);
        }
    }

    div.note-wrapper.note-E5 {
        div.note {
            clip-path: $heart_u;
        }

        div.note-text > span.note-text-span {
            transform: translateX(-5%) translateY(5%);
        }
    }

    div.note-wrapper.note-Eb4 {
        div.note {
            clip-path: $teardrop;
        }

        div.note-text > span.note-text-span {
            transform: translateX(9%) translateY(10%);
        }

    }

    div.note-wrapper.note-F4 > div.note {
        clip-path: $circle;
    }

    div.note-wrapper.note-F-sharp4 {
        div.note {
            clip-path: $hexagon;
        }
    }

    div.note-wrapper.note-G4 > div.note {
        clip-path: $octagon;
    }

    div.note-wrapper.note-G-sharp4 > div.note {
        width: 2.5em;
        height: 2.5em;
        clip-path: $star;
    }
}
