@import "variables";

div.container {
    display: flex;
    flex-direction: column;
}

div.header-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

div.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

div.header h1 {
    flex-grow: 3;
    font-size: 3rem;
    @media only screen and (max-width: 768px) {
        font-size: 1.25rem;

    }
}


div.expansion-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-grow: 1;
}

div.cim-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

div.cim {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 100%
}

div.control-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

div.flag-container {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

div.trainer-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

div.flag.trainer {
    height: 10vh;
    width: 45%;

    @media only screen and (max-width: 768px) {
        max-width: 80%;
    }
}

div.controls {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

div.controls a i {
    font-size: 5rem;
    margin-right: 0.25em;
    margin-left: 0.25em;
    margin-right: 0.25em;
}

body.colorscheme-dark div.controls i.fa {
    color: #abd1f2;
}

body.colorscheme-light div.controls i.fa {
    color: #0077be;
}

div.controls a.deactivated i.fa {
    color: #0077be50;
}

div.stats {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

div.stats div {
    margin-right: 0.5em;
    margin-left: 0.5em;
}

div.emoji-container {
    font-size: 3rem;
}

div.stats i.fa {
    font-size: 2rem;
}

body.colorscheme-light div.stats.done.perfect span#stats-divider,
body.colorscheme-light div.stats.done.perfect span#stats-correct,
body.colorscheme-light div.stats.done span#stats-total {
    color: green;
}

body.colorscheme-dark div.stats.done.perfect span#stats-divider,
body.colorscheme-dark div.stats.done.perfect span#stats-correct,
body.colorscheme-dark div.stats.done span#stats-total {
    color: #00bf00;
}

div.stats-display {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}

div.stats-display span#stats-percent {
    font-size: 1.5rem;
}

div.flag-wrapper{
    margin-top: 0.5em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    height: 5em;
    width: 30%;

    @media only screen and (max-width: 768px) {
        margin-left: 2%;
        margin-right: 2%;
        width: 40%;
    }
}

div.flag {
    height: 100%;
    width: 100%;
}

div.flag-correct {
    position: relative;
    border: 5px green solid !important;
}

div.flag-correct::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    content: "\f00c";
    color: green;
    font-weight: bold;
    font-size: 5rem;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

div.flag-incorrect {
    border: 5px red solid !important;
    position: relative;
    color: red;
}

div.flag-incorrect::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    content: "\f00d";
    color: red;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    font-weight: bold;
    font-size: 5rem;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

body.colorscheme-dark div.flag {
    border: 1px solid white;
}

body.colorscheme-light div.flag {
    border: 1px solid black;
}

audio.chord {
}

/* Container styles */
.infobox-container {
  display: inline-block;
  position: relative;
  font-size: 1.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

/* Infobox styles */
.infobox {
  position: absolute;
  top: 100%;
  left: 00%;
  transform: translateX(-100%);
  width: 60vw;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  display: none;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s;
  z-index: 100;
}

div.infobox.pulldown {
  width: auto;
  padding-left: 0;
  padding-right: 0;
  transform: unset;
  left: unset;
  right: 0%;
}

body.colorscheme-light span.pulldown-target {
    color: $fg-color;
}

body.colorscheme-dark span.pulldown-target {
    color: $fg-color-dark;
}

div.pulldown-item {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    padding-left: 5px;
    padding-right: 10px;
}

body.colorscheme-dark div.pulldown-item:hover {
    background-color: lighten($bg-color-dark, 12.5);
}

body.colorscheme-light div.pulldown-item:hover {
    background-color: darken($bg-color, 12.5);
}

div.pulldown-item > i.profile-settings-icon,
div.pulldown-item > i.profile-icon {
    margin-right: 0.75rem;
}

div.pulldown-item > span.profile-name {
    white-space: nowrap;
}

div.trigger-container > a {
    text-decoration: none;
}

div.trigger-container > a:hover {
    text-decoration: none;
}

body.colorscheme-light .infobox {
  color: $fg-color;
  background-color: $bg-color;
}

body.colorscheme-dark .infobox {
  color: $fg-color-dark;
  background-color: $bg-color-dark;
}

.infobox.visible {
    display: block;
    opacity: 1;
}

/* Modals */
// Profile adder

.profile-info-container {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 30vw;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: visibility 0s, opacity 0.3s;
    z-index: 100;
}

body.colorscheme-dark .profile-info-container {
    background: $bg-color-dark;
}

body.colorscheme-light .profile-info-container {
    background: $bg-color;
}

.profile-info-container.visible {
    display: block;
    opacity: 1;
}

.profile-info-container .close-button {
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 2em;
}

.profile-info-container button {
    display: none;
}

.profile-info-container button.settings-button.visible {
    display: block;
}

.profile-info-container button.add-button.visible {
    display: block;
}

.profile-info-container div.button-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: baseline;
    width: 100%;
}

a.download-button {
    display: none;
}

a.download-button.visible {
    display: block;
}

// Stats container
div.stats-history-container {
    width: fit-content;
    max-height: 40vw;
    max-width: 90vw;
    overflow-y: auto;
    flex-flow: column nowrap;
    align-content: flex-start;
    overflow-x: none;

}

div.stats-history-container.visible {
    display: inline-flex;
}

div.stats-history-container > div.stats-history-item {
    display: inline-flex;
    width: fit-content;
    white-space: nowrap;
    flex-flow: row nowrap;
    max-height: 4rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

body.colorscheme-dark div.stats-history-container > div.stats-history-item > div.stats-color {
    border: 1px solid white;
}

body.colorscheme-light div.stats-history-container > div.stats-history-item > div.stats-color {
    border: 1px solid black;
}

div.stats-history-item > div.stats-color {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    flex: 0 0 10%;
    width: 10%;
}

div.stats-history-item > div.stats-date {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    flex: 0 0 20%;
}

div.stats-history-item > div.session-stats {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-weight: bold;
    min-width: 20vw;
}

.stats-container .close-button {
    position: absolute;
    top: 0;
    right: 0.5rem;
    font-size: 2em;
}


/* Flags */
$red: red;
$yellow: yellow;
$blue: blue;
$black: black;
$green: green;
$orange: #FF8200;
$purple: purple;
$pink: pink;
$brown: #81613C;

div.red {
    background-color: $red;
}
div.yellow {
    background-color: $yellow;
}
div.blue {
    background-color: $blue;
}
div.black {
    background-color: $black;
}
div.green {
    background-color: $green;
}
div.orange {
    background-color: $orange;
}
div.purple {
    background-color: $purple;
}
div.pink {
    background-color: $pink;
}
div.brown {
    background-color: $brown;
}

