// Colors
$bg-color: #fafafa !default;
$fg-color: #212121 !default;
$link-color: #1565c0 !default;

// Dark colors
$bg-color-dark: #212121 !default;
$fg-color-dark: #dadada !default;
$link-color-dark: #42a5f5 !default;

